<div class='row' ng-controller='productsController'>
	<div class="row form modal-body">
		<form role="form" ng-submit="addProduct()">
			<h4>Add a new product</h4>
			<div class="form-group col-xs-8">
		    	<label for="name">Product Name:</label>
		    	<input type="text" class="form-control" id="name" ng-model='newProduct.name'/>
		  	</div>
		  	<div class="form-group col-xs-8">
		    	<label for="image">Image:</label>
		    	<input type="text" class="form-control" id="image" placeholder="http://" ng-model="newProduct.image">
		  	</div>
		  	<div class="form-group col-xs-8">
		    	<label for="description">Description:</label>
		    	<textarea type="text" class="form-control" id="description" ng-model="newProduct.description" rows="4"></textarea>
		  	</div>
		  	<div class="form-group col-xs-8">
		    	<label for="quantity">Quantity:</label>
				<input type="number" class="input-sm" id="quantity" ng-model="newProduct.quantity" min="1">
		  	</div>
		  	<div class="row"></div>
		  	<button type="submit" class="btn btn-primary">Add new product</button>
		</form>
	</div>
	<div class="row" ng-controller='productsController'>
		<div class="row">
			<input type="text" placeholder="search name..." ng-model="filter_product" class="input-sm">
		</div>
	    <div class="col-md-4 portfolio-item" ng-repeat='product in products | filter: filter_product | limitTo: limitedAmount'>
	        <img class="img-responsive" ng-src="{{ product.image }}" alt='Image'>
	        <h3 ng-bind='product.name'></h3>
			<p>(<span ng-bind='product.quantity'></span> left)</p>
	    </div>
	    <div class="row"></div>
	    <button ng-click='showAllProducts()' class="show_more center-block btn-primary">show more</button>
	</div>
</div>